 .titleHeader{
    background-repeat: no-repeat;
    background-attachment: fixed;
height: 15em;
    background-color: rgba(4, 132, 120, 0.599);
    background-blend-mode: multiply;
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-position-y: -15em;
padding-top: 5rem;
margin: 0em;}

.sectionStart{
    font-size: x-large;
font-family: 'Segoe UI';
color: rgb(0, 211, 113);
text-align: justify;

font-weight: 700;
}

.infoParagraph{
    background-repeat: no-repeat;
    background-attachment: fixed;
height: auto;
    background-color: rgba(3, 96, 87, 0.179);
    background-size: 100%, 100%;
    background-attachment: fixed;
margin: 1em;
padding: 1em;

font-size: 1.2rem;
font-family: Helvetica, sans-serif;
color: white;
text-align: justify;
display:flex;
flex-direction: column;
font-weight: 500;
}
.subtitle{opacity: 100%; color:white; text-align: center; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 2rem;}
.title{color:white; text-align: center; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 5rem;}

b{color:greenyellow;}
th{
    font-size: 2rem;
font-family: 'Segoe UI';
color: rgb(0, 211, 113);
text-align: justify;

font-weight: 700;
}
tr, td{
padding: 1rem;
    font-size: 1.2;
font-family: 'Segoe UI';
color: rgb(255, 255, 255);
text-align: justify;
font-weight: 500;
background-color: rgba(3, 96, 87, 0.179);
}

